label, input[type=text] {
  display: block;
  margin: 0px;
  padding: 0px;
}

input[type=text] {
  margin-bottom: 1%;
  width: 80%;
}

button, input[type=submit] {
  height: 45px;
  width: 50%;
  line-height: 50%;
}

.first {
  margin-bottom: 10px;
}
